@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Add_Movie_Data

<!--Table rows for each movie record-->
<tr>
    <!--Dynamically add the movie record's data into the page's HTML-->
    <td>@Model.Movie_Title</td>
    <td>@Model.Category</td>
    <td>@Model.Year</td>
    <td>@Model.Director</td>
    <td>@Model.Rating</td>
    <td>@Model.Edited</td>
    <td>@Model.Lent_To</td>
    <td>@Model.Notes</td>
    <td>
        <!--Button that allows the user to edit the movie record that has been requested-->
        <form method="post">
            <input type="hidden" asp-for="MovieID" value="@Model.MovieID" />
            <input type="hidden" asp-for="Movie_Title" value="@Model.Movie_Title" />
            <input type="hidden" asp-for="Category" value="@Model.Category" />
            <input type="hidden" asp-for="Year" value="@Model.Year" />
            <input type="hidden" asp-for="Director" value="@Model.Director" />
            <input type="hidden" asp-for="Rating" value="@Model.Rating" />
            <input type="hidden" asp-for="Edited" value="@Model.Edited" />
            <input type="hidden" asp-for="Lent_To" value="@Model.Lent_To" />
            <input type="hidden" asp-for="Notes" value="@Model.Notes" />
            <button type="submit">Edit</button>
        </form>

        <!--Button that allows the user to remove the movie record that has been requested-->
        <form method="post" asp-action="Remove_Movie">
            <input type="hidden" asp-for="MovieID" value="@Model.MovieID" />
            <input type="hidden" asp-for="Movie_Title" value="@Model.Movie_Title" />
            <button type="submit">Remove</button>
        </form>
    </td>
</tr>